In [51]:
import pandas as pd

In [52]:
csv = pd.read_csv('./pokedex/pokemon.csv')

In [53]:
csv.describe()

,generation,number,height,weight,catch_rate,hp,attack,defense,sp_atk,sp_def,speed,total
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000
mean,4.146993,449.500000,1.185969,64.883073,97.746102,69.031180,76.589087,71.919822,69.681514,69.909800,65.949889,423.081292
std,2.248398,259.374568,1.234222,122.109149,76.586979,26.213707,29.775739,29.601896,29.372609,27.086461,28.460514,112.099579
min,1.000000,1.000000,0.100000,0.100000,3.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000
25%,2.000000,225.250000,0.500000,8.500000,45.000000,50.000000,55.000000,50.000000,46.250000,50.000000,45.000000,320.000000
50%,4.000000,449.500000,1.000000,27.000000,60.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000,440.000000
75%,6.000000,673.750000,1.500000,65.000000,150.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000,500.000000
max,8.000000,898.000000,20.000000,999.900000,255.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,720.000000

In [54]:
csv.shape

(898, 20)

In [55]:
csv

,generation,number,name,type1,type2,height,weight,catch_rate,egg_group1,egg_group2,has_gender,male,hp,attack,defense,sp_atk,sp_def,speed,total,is_legendary
0,1,1,Bulbasaur,Grass,Poison,0.7,6.9,45,Grass,Monster,True,87.5%,45,49,49,65,65,45,318,False
1,1,19,Rattata,Normal,NaN,0.3,3.5,255,Field,NaN,True,50%,30,56,35,25,35,72,253,False
2,1,23,Ekans,Poison,NaN,2.0,6.9,255,Dragon,Field,True,50%,35,60,44,40,54,55,288,False
3,1,25,Pikachu,Electric,NaN,0.4,6.0,190,Fairy,Field,True,50%,35,55,40,50,50,90,320,False
4,1,22,Fearow,Normal,Flying,1.2,38.0,90,Flying,NaN,True,50%,65,90,65,61,61,100,442,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,1,53,Persian,Normal,NaN,1.0,32.0,90,Field,NaN,True,50%,65,70,60,65,65,115,440,False
894,1,51,Dugtrio,Ground,NaN,0.7,33.3,50,Field,NaN,True,50%,35,100,50,50,70,120,425,False
895,1,55,Golduck,Water,NaN,1.7,76.6,75,Field,Water 1,True,50%,80,82,78,95,80,85,500,False
896,1,54,Psyduck,Water,NaN,0.8,19.6,190,Field,Water 1,True,50%,50,52,48,65,50,55,320,False
897,1,52,Meowth,Normal,NaN,0.4,4.2,255,Field,NaN,True,50%,40,45,35,40,40,90,290,False

In [56]:
len(csv[csv['is_legendary'] == True])

92

In [57]:
LEGENDARY = list(map(lambda x: x.lower(), ['Articuno', 'Zapdos', 'Moltres', 'Mewtwo', 'Mew',
                                           'Raikou', 'Entei', 'Suicune', 'Lugia', 'Ho-Oh', 'Celebi',
                                           'Regirock', 'Regice', 'Registeel', 'Latias', 'Latios', 'Kyogre', 'Groudon', 'Rayquaza', 'Jirachi', 'Deoxys',
                                           'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia', 'Heatran', 'Regigigas', 'Giratina', 'Cresselia', 'Phione', 'Manaphy', 'Darkrai', 'Shaymin', 'Arceus',
                                           'Victini', 'Cobalion', 'Terrakion', 'Virizion', 'Tornadus', 'Thundurus', 'Reshiram', 'Zekrom', 'Landorus', 'Kyurem', 'Keldeo', 'Meloetta', 'Genesect',
                                           'Xerneas', 'Yveltal', 'Zygarde', 'Diancie', 'Hoopa', 'Volcanion',
                                           'Type: Null', 'Silvally', 'Tapu Koko', 'Tapu Lele', 'Tapu Bulu', 'Tapu Fini', 'Cosmog', 'Cosmoem', 'Solgaleo', 'Lunala', 'Nihilego', 'Buzzwole', 'Pheromosa', 'Xurkitree', 'Celesteela', 'Kartana', 'Guzzlord', 'Necrozma', 'Magearna', 'Marshadow', 'Poipole', 'Naganadel', 'Stakataka', 'Blacephalon', 'Zeraora', 'Meltan', 'Melmetal',
                                           'Zacian', 'Zamazenta', 'Eternatus', 'Kubfu', 'Urshifu', 'Zarude', 'Regieleki', 'Regidrago', 'Glastrier', 'Spectrier', 'Calyrex']))

In [58]:
LEGENDARY.sort()
print(LEGENDARY)

['arceus', 'articuno', 'azelf', 'blacephalon', 'buzzwole', 'calyrex', 'celebi', 'celesteela', 'cobalion', 'cosmoem', 'cosmog', 'cresselia', 'darkrai', 'deoxys', 'dialga', 'diancie', 'entei', 'eternatus', 'genesect', 'giratina', 'glastrier', 'groudon', 'guzzlord', 'heatran', 'ho-oh', 'hoopa', 'jirachi', 'kartana', 'keldeo', 'kubfu', 'kyogre', 'kyurem', 'landorus', 'latias', 'latios', 'lugia', 'lunala', 'magearna', 'manaphy', 'marshadow', 'melmetal', 'meloetta', 'meltan', 'mesprit', 'mew', 'mewtwo', 'moltres', 'naganadel', 'necrozma', 'nihilego', 'palkia', 'pheromosa', 'phione', 'poipole', 'raikou', 'rayquaza', 'regice', 'regidrago', 'regieleki', 'regigigas', 'regirock', 'registeel', 'reshiram', 'shaymin', 'silvally', 'solgaleo', 'spectrier', 'stakataka', 'suicune', 'tapu bulu', 'tapu fini', 'tapu koko', 'tapu lele', 'terrakion', 'thundurus', 'tornadus', 'type: null', 'urshifu', 'uxie', 'victini', 'virizion', 'volcanion', 'xerneas', 'xurkitree', 'yveltal', 'zacian', 'zamazenta', 'zapdos', 'zarude', 'zekrom', 'zeraora', 'zygarde']

In [59]:
# csv[csv['is_legendary'] == True]['name']
a = []
for w in csv[csv['is_legendary'] == True].sort_values(by=['name'])['name'].array:
    a.append(w.lower())
    
# print(a)
# print(LEGENDARY - a)
set(LEGENDARY).difference(set(a))

set()