In [2]:
import pandas as pd

In [4]:
csv = pd.read_csv('./pokedex/pokemon.csv')

In [5]:
csv.describe()

,generation,number,height,weight,catch_rate,hp,attack,defense,sp_atk,sp_def,speed,total
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000
mean,4.146993,449.500000,1.185969,64.883073,97.746102,69.031180,76.589087,71.919822,69.681514,69.909800,65.949889,423.081292
std,2.248398,259.374568,1.234222,122.109149,76.586979,26.213707,29.775739,29.601896,29.372609,27.086461,28.460514,112.099579
min,1.000000,1.000000,0.100000,0.100000,3.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000
25%,2.000000,225.250000,0.500000,8.500000,45.000000,50.000000,55.000000,50.000000,46.250000,50.000000,45.000000,320.000000
50%,4.000000,449.500000,1.000000,27.000000,60.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000,440.000000
75%,6.000000,673.750000,1.500000,65.000000,150.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000,500.000000
max,8.000000,898.000000,20.000000,999.900000,255.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,720.000000

In [6]:
csv.shape

(898, 20)